---
import "../styles/global.css";

const defaultMeta = {
    url: "https://vesl.et/",
    title: "vesl.et — At the edge of the 7 seas",
    description: "Finally you find your self here after all that doom scrolling",
    image: "https://vesl.et/og-image.png",
};

const { title, meta = defaultMeta } = Astro.props;
---
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title && (`vesl.et | ${title}`) || "vesl.et"}</title>
        <meta name="description" content="{meta.description}">

        <meta itemprop="name" content={meta.title} />
        <meta itemprop="description" content={meta.description}/>
        <meta itemprop="image" content={meta.image}/>

        <meta property="og:type" content="website">
        <meta property="og:url" content={meta.url}>
        <meta property="og:title" content={meta.title}>
        <meta property="og:description" content={meta.description}>
        <meta property="og:image" content={meta.image}>

        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content={meta.url}>
        <meta property="twitter:title" content={meta.title}>
        <meta property="twitter:description" content={meta.description}>
        <meta property="twitter:image" content={meta.image}>
	</head>
	<body class="bg-stone-200 text-stone-800 font-mono p-6 md:p-12 min-h-screen selection:bg-amber-200 selection:text-stone-900">
		<main class="max-w-3xl mx-auto">
			<slot />
		</main>
	</body>
</html>
